@using Car.Feature.Navigation
@using Car.Foundation.SitecoreExtensions.Extensions
@model Car.Feature.Navigation.Models.SectionNavigationItems
@{
    if (Model?.Items == null)
    {
        return;
    }
}
<div class="mainSubNav transitionAll noTablet noDisplay" data-open-nav="transactionSN" data-section="[object Object]">
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var isActive = i == 0 ? "active" : null;
        <div class="@Html.Sitecore().Field(Templates.SectionLink.Fields.ClassAttribute, Model.Items[i].SectionItem) mainSubNavSection @isActive">
            @for (var t = 0; t < Model.Items[i].SectionItems.Count; t++)
            {
                isActive = i == 0 && t == 0 ? "active" : null;
                var dataAtr = @Html.Sitecore().Field(Templates.Navigable.Fields.DataAttribute, Model.Items[i].SectionItems[t]);
                var title = @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.Items[i].SectionItems[t]);
                <div class="subNavItem transitionAll fourth @isActive" data-sub-sub="@dataAtr">@title</div>
            }
        </div>
    }
    <div class="clearAll"></div>
    <div class="navCarrotSlider subnav transitionAll" style="transform: translateX(11.8893%);">
        <div class="mainSubNavCarrot navCarrot"></div>
    </div>
</div>